<nav class="navbar navbar-expand-md navbar-light bg-success fixed-top">
    <a class="navbar-brand" >Welcome To My Electronic Webstore!</a>
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/products">Products</a>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">Contact Us<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>    
    </div>
  </nav>